<div class="backdrop"></div>
<div class="navigation">
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <a href="/" class="logo">PLAYVERSE</a>
        <nav class="main-header__nav">
            <ul class="main-header__item-list middle">
                <% if(isAuthenticated) { %>
                <li class="main-header__item"><a class="<%= path==='/cart' ? 'active' : '' %>" href="/cart">Cart
                    <span class="cart__badge" id="cartBadge"><%= currentUser.cart.items.length; %></span>
                </a></li>
                <li class="main-header__item"><a class="<%= path==='/orders' ? 'active' : '' %>" href="/orders">Orders</a></li>
                <li class="main-header__item"><a class="<%= path==='/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="<%= path==='/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a></li>
                <% } %>
            </ul>

            <ul class="main-header__item-list">
                <% if(!isAuthenticated) { %>
                <li class="main-header__item"><a class="<%= path==='/login' ? 'active' : '' %>" href="/login">Login</a></li>
                <li class="main-header__item"><a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a></li>
                <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/profile' ? 'active' : '' %>" href="/profile">Profile</a>
                </li>
                <% } %>
            </ul>
        </nav>
    </header>
</div>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Shop</a></li>

        <% if (isAuthenticated) { %>
        <li class="mobile-nav__item"><a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a></li>
        <li class="mobile-nav__item"><a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a></li>
        <li class="mobile-nav__item"><a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product</a></li>
        <li class="mobile-nav__item"><a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a></li>
        <% } %>

        <% if (!isAuthenticated) { %>
        <li class="mobile-nav__item"><a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a></li>
        <li class="mobile-nav__item"><a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a></li>
        <% } else { %>
        <li class="mobile-nav__item">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Logout</button>
            </form>
        </li>
        <li class="mobile-nav__item">
            <a href="/profile" class="<%= path === '/profile' ? 'active' : '' %>">Profile</a>
        </li>
        <li class="mobile-nav__item">
            <a href="/cart" class="cart-link <%= path === '/cart' ? 'active' : '' %>">
                <i class="fas fa-shopping-cart"></i> Cart
                <span class="cart__badge" id="cart-count">0</span>
            </a>
        </li>
        <% } %>
    </ul>
</nav>
